*{
    box-sizing: border-box;
    margin: 0;
}
nav{
    background-color: #1F2937;
    color: #F9FAF8;
    padding-bottom: 2rem;
}
.header, .sub-header{
    width: 60%;
    margin: 0 auto;
    display: flex;
    padding: 1rem 0 3rem 0;
}
.sub-header .text{
    padding-right: 8rem;
}
.header div, .sub-header div {
    flex: 1;
}
.sub-header .image{
    flex: 1.5;
}
.logo h4{
    color: #F9FAF8;
    font-size: 24px;
}
ul{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
}
ul li a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}
.text h2{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
.text p{
    color: #E5E7EB;
    font-size: 18px;
}
.sign{
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    margin-top: 0.5rem;
}
.image{
    background-color: #747575;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}
 

/* Info - Section */

.info-section h2{
    margin: 2rem;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
}
.info-section div{
    width: 42%;
    margin: 0 auto;
    display: flex;
    gap: 2.5rem;
    margin-bottom: 3rem;
}
.content{
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 12rem;
    
}
.info-section div .content{
    gap: 0;
}
.content div{
    border: 3px solid #3882F6;
    border-radius: 10px;
    width: 100%;
    height: 70%;
    margin-bottom: 0.5rem;
}
.content p{
    color: #747575;
    font-size: 18px;
    text-align: center;
}

/* Testimonial */

.testimonial{
    background-color: #E5E7EB;
    color: #1F2937;
    padding: 4rem 0;
}
.testimonial div{
    width: 43%;
    margin: 0 auto;
}
.slant-text{
    font-size: 36px;
    font-weight: 100;
}
.thor{
    text-align: right;
    margin-top: 1rem;
}

/* Call to action section */

.call-content{
    width: 60%;
    margin: 4rem auto;
    background-color: #3882F6;
    color: #F9FAF8;
    display: flex;
    justify-content: space-around;
    padding: 3rem 0;
}
.call-content button{
    background-color: #3882F6;
    color: #F9FAF8;
    border: 2px solid #F9FAF8;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
}


/* footer */
footer{
    background-color: #1F2937;
    color: #E5E7EB;
    text-align: center;
    padding: 2rem 0;
    font-size: 25px;
}

